.character_description{
  width: 100%;
  padding: 32px 101px;
}

.character_description > div > h2 {
  margin: 32px 16px 8px 16px;
}

.description_card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  height: 50px;
}

.description_card > h2 {
  color: #828282;
}

.description_card > p {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0125em;
  color: #333333;
  text-transform: capitalize;
}

.vehicle_card{
  display: flex;
  flex-direction: column;
}

.vehicle_card > h2{
  padding: 0px 16px;
  color: #828282;
}